<!DOCTYPE html>
<html>
<marquee direction="left" style= "color:blue"> Welcome </marquee>

<h1 align = "center" style= "color:green"> Ruby on Rails</h1>
<a href="https://guides.rubyonrails.org"> RailsGuide </a>

<h3 style="color:green;">This is a Workspace</h3>

<marquee style="color:red" direction="right" bgcolor="yellow">Hello Ruby</marquee>

<p> Hi Dev Welcom to Ruby World.</p>

<p color="red"> Hi RK , good mornig </p>

<p>	Good Day  	<a href="http://google.com" class="button"> Google</a></p>

<p>
	<font color="red"  > click on <a  href="welcome/menu1"><input type="submit" value="Go">
	</a></font>

<p><button onclick href="https://guides.rubyonrails.org/"> Rails Guide</button></p>

<hr><p style="color:yellow;"> Hydrabad</p>

<body 	style="background-color:powderblue;">Good Day</body>

<%=@a %> Find to welcome <%= link_to 'Index', welcome_index_path %> 

<%=@a %> Find to menu <%= link_to 'menu', articles_menu_path %> 
<br>
<%= link_to "Button Text", welcome_Images_path, class: 'btn btn-primary' %>
<br>
<%=@a %> Find to menu <%= link_to 'menu1', welcome_menu1_path %> 




</html>
